.container {
  @apply grid gap-6 max-w-3xl mx-auto mb-36
}

.container h1 {
  @apply text-2xl sm:text-4xl font-bold tracking-tight mb-8 text-center border-b pb-12
}

.container h2 {
  @apply text-xl sm:text-3xl font-bold mt-4
}

.container h3 {
  @apply text-lg sm:text-xl font-bold mt-4
}

.container ul {
  @apply list-none pl-4
}

.container li {
  @apply leading-loose
}

.container ol {
  @apply list-decimal pl-4
}

.container table {
  @apply border border-collapse
}

.container table td, .container table th {
  @apply border p-2
}

.container table thead {
  @apply bg-slate-100
}

.container p {
  @apply leading-loose
}

.container blockquote {
  @apply border-l-2 border-l-blue-300 bg-blue-50 p-4
}

.container a {
  @apply text-blue-600 hover:underline hover:text-blue-600
}

.container a code {
  @apply underline
}

.container > :not(pre) {
  @apply mx-4
}

.container pre {
  @apply  overflow-x-auto shadow-2xl mb-4
}

.container :not(pre) code {
  @apply bg-slate-100 p-[2px] rounded text-sm
}

.container pre code {
  @apply leading-loose relative text-sm
}

.container img {
  @apply w-full h-auto leading-none
}

.container pre code[class~="hljs"]::before {
  @apply absolute top-2 right-2 bg-white text-black text-xs px-2 py-1
}

.container pre code[class~="language-html"]::before {
  content: 'html';
}

.container pre code[class~="language-js"]::before {
  content: 'javascript';
}

.container pre code[class~="language-css"]::before {
  content: 'css';
}